#header{
    display: flex; /* Автоматическое растягивание */
    align-items: center; /* Выравнивание содержимого по вертикали по центру */
    justify-content: space-between; /* Выравнивание содержимого по краям */
    padding: 20px 80px; /* Внутренний отступ по вертикали и горизонтали */
    background: #E3E6F3; /* Цвет заднего фона */
    box-shadow: 0 5px rgba(0, 0, 0, 0.06); /* Тень, смещение по x, смещение по
    y, цвет */
    }
    /* Id для меню */
    #navbar {
    display: flex; /* Автоматическое растягивание */
    align-items: center; /* Выравнивание содержимого по вертикали по центру */
    justify-content: center; /* Выравнивание содержимого по горизонтали по
    центру */
    }
    /* Элемент списка */
    #navbar li {
    list-style: none; /* Отлючение спец. символов списка */
    padding: 0 20px; /* Внутренний отступ по вертикали и горизонтали */
    position: relative; /* Относительно позиционируемый элемент */
    }
    /* Элемент списка - ссылка */
    #navbar li a{
    text-decoration: none; /* Отключение форматирование текста */
    font-size: 16px; /* Размер шрифта */
    font-weight: 600; /* Толщина шрифта */
    color: #1a1a1a; /* Цвет шрифта */
    transition: 0.3s ease; /* Анимация перехода состояния */
    }
    #navbar li a:hover, /* При наведении */
    #navbar li a.active{ /* Ссылка с классом "active" */
    color: #26e430; /* Цвет шрифта */
    }
    .fab{
        font-size: 40px;
        color: #13702f;
    }
    #navbar li a.active::after, /* Cоздаёт псевдоэлемент линию под элементами меню
    */
    #navbar li a:hover::after{ /* При наведении */
    content: ""; /* Установка пустого текста */
    width: 30%; /* Ширина */
    height: 2px; /* Высота */
    background: #13702f; /* Цвет фона */
    position: absolute; /* Позиционирование */
    bottom: -4px; /* Смещению вверх */
    left: 20px; /* Смещению ввлево */